@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLORS */
:root {
    --color-primary: #55c57a;
    --color-primary-light: #7ed56f;
    --color-primary-dark: #28b485;
}

.header {
   height: 90vh;
   background-image: linear-gradient(
        to right bottom,
        rgba(33, 160, 76,0),
        rgba(40, 180, 133, 0.2)),
    url(../public/img/header.jpg);
    background-size: cover;
    background-position: bottom;
}


/* typograghy */
.header--main {
    @apply text-6xl font-extrabold text-gray-700 uppercase;
}

.header--sub {
    @apply text-5xl font-bold text-gray-400 font-bold;
}

.heading-primary {
    @apply text-5xl text-white uppercase;
}

.heading-secondary {
    @apply text-4xl text-primary-dark text-center uppercase font-bold mb-6;
}

.heading-tertiary {
    @apply text-lg text-gray-600 uppercase font-semibold mb-4;
}

.paragraph {
    @apply text-base;
}


/* section */
.section-features {
    @apply flex flex-wrap bg-primary-light py-16 px-8;
}

.about-content p:not(:last-child) {
    @apply mb-6;
}

/* image gallery */
.img-gallery {
    @apply flex py-3 px-0 bg-gray-200;
    overflow-x: scroll;
}

.img-gallery-photo {
    transition: all .2s;
}

.img-gallery-photo:hover{
    outline: 3px solid var(--color-primary);
}

.img-gallery-photo:not(:last-child) {
    margin-right: .5rem;
}


/* buttons */
.btn {
    @apply bg-transparent border-b-2 py-1 px-2 inline-block shadow-sm;
    transition: all .2s;
}

.btn:hover {
    transform: scale(1.05) translateY(-2px);
    @apply shadow-lg;
}

.btn-primary {
    @apply border-primary-light
}

.btn-primary:hover {
    @apply bg-primary-light text-white;
}



/* feature contents */
.feature-box {
    @apply bg-gray-100 py-3 px-4 m-2 text-center text-gray-700 flex-grow-0 flex-shrink-0;
}

.feature-icon {
    @apply block text-center text-primary-light mt-4;
    font-size: 6rem;
}
