@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLORS */
:root {
    --color-primary: #7ed56f;
    --color-primary-light: #55c57a;
    --color-primary-dark: #28b485;
}

.header {
   height: 110vh;
   background-image: linear-gradient(
        to right bottom,
        rgba(33, 160, 76,0),
        rgba(40, 180, 133, 0.2)),
    url(../public/img/header.jpg);
    background-size: cover;
    background-position: bottom;
}


/* typograghy */
.heading-primary {
    @apply text-5xl text-primary-dark uppercase font-bold;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.heading-primary-main {
    @apply text-4xl font-extrabold text-primary-dark uppercase;
}

.heading-primary-sub {
    @apply text-2xl font-bold text-gray-700 font-bold;
}

.heading-secondary {
    @apply text-4xl text-primary-dark text-center uppercase font-bold mb-6;
}

.heading-tertiary {
    @apply text-lg text-gray-600 uppercase font-semibold mb-4;
}

.paragraph {
    @apply text-base;
}


/* section */
.section-features {
    @apply flex flex-wrap bg-primary-dark py-16 px-8;
}

.section-tours {
    @apply flex flex-wrap py-16 px-8;
}

.section-stories {
    @apply py-32 mt-16 bg-gray-100 text-gray-600;
}

.section-book {
    @apply py-32 px-10 bg-primary-dark;
}

/* image gallery */
.img-gallery {
    @apply flex py-3 px-0 bg-gray-200;
    overflow-x: scroll;
}

.img-gallery-photo {
    transition: all .2s;
}

.img-gallery-photo:hover{
    outline: 3px solid var(--color-primary);
}

.img-gallery-photo:not(:last-child) {
    margin-right: .5rem;
}

.about-content p:not(:last-child) {
    @apply mb-6;
}


/* buttons */
.btn {
    @apply py-1 px-2 inline-block;
    transition: all .2s;
}

.btn:hover {
    transform: scale(1.05) translateY(-2px);
    @apply shadow-lg;
}

.btn-text {
    @apply border-primary-light border-b-2;
}
.btn-text:hover {
    @apply bg-primary-light text-white;
}

.btn-primary {
    @apply bg-primary-dark text-white;
}

.btn-yellow {
    @apply bg-yellow-500 text-white;
}

.btn-red {
    @apply bg-red-500 text-white;
}

.btn-header {
    @apply btn-primary rounded-full inline-block py-4 px-8 text-xl mt-8 transform transition duration-300 translate-y-2;
}


/* feature contents */
.feature-box {
    @apply bg-gray-100 py-3 px-4 m-2 text-center text-gray-700 flex-grow-0 flex-shrink-0 rounded;
    transition: all .2s;
}

.feature-box:hover {
    transform: translateY(-.5rem);
}

.feature-icon {
    @apply block text-center text-primary-light mt-4;
    font-size: 6rem;
}


/* card */
.card {
    @apply shadow-md mb-4 text-gray-600 rounded overflow-hidden;
    transition: all .2s;
}

.card:hover {
    @apply shadow-lg;
    transform: translateY(-0.5rem) scale(1.01);
}

.card-container {
    @apply w-full text-center flex flex-wrap justify-center;
}

.card-header {
    height: 30vh;
    background-blend-mode: screen;
    background-size: cover;
    background-position: bottom;
    transition: all 1s;
}

.card-header-1 {
    background-image: linear-gradient(
            to right bottom,
            rgba(33, 160, 76,0.8),
            rgba(40, 180, 133, 0.8)),
        url(../public/img/camp1.jpg);
}

.card:hover .card-header-1 {
    background-image: linear-gradient(
            to right bottom,
            rgba(33, 160, 76,0.4),
            rgba(40, 180, 133, 0.4)),
        url(../public/img/camp1.jpg);
}

.card-header-2 {
    background-image: linear-gradient(
            to right bottom,
            rgba(250, 240, 137,0.8),
            rgba(236, 201, 75, 0.8)),
        url(../public/img/camp2.jpg);
}

.card:hover .card-header-2 {
    background-image: linear-gradient(
            to right bottom,
            rgba(250, 240, 137,0.4),
            rgba(236, 201, 75, 0.4)),
        url(../public/img/camp2.jpg);
}

.card-header-3 {
    background-image: linear-gradient(
            to right bottom,
            rgba(252, 129, 129,0.8),
            rgba(229, 62, 62, 0.8)),
        url(../public/img/camp3.jpg);
}

.card:hover .card-header-3 {
    background-image: linear-gradient(
            to right bottom,
            rgba(252, 129, 129,0.4),
            rgba(229, 62, 62, 0.4)),
        url(../public/img/camp3.jpg);
}




.card-heading {
    @apply text-xl uppercase px-4 py-2 font-medium text-gray-800 rounded-sm;
    background-image: linear-gradient(
            rgba(255, 255, 255,0.7),
            rgba(255, 255, 255, 0.9));
}

.card-body { }

.card-footer {
    @apply flex flex-col justify-center items-center;
}

.card-list {
    @apply px-4 py-2 w-full;
}

.card-item {
    @apply px-2 py-1 border-solid border-gray-300;
}

.card-item:not(:last-child) {
    @apply mb-1 border-b-2;
}

.card-cta {
    @apply text-lg px-8 py-2 btn rounded-full my-2 w-3/4;
}

.card-price {
    @apply font-semibold text-lg ;
}

.story-box {
    @apply w-3/4 py-6 px-8 rounded-md mx-auto bg-white flex-col flex items-center mt-16 shadow-lg;
}

.story-img {
    @apply rounded-full w-32 h-32 object-cover;
}

.story-text {
    @apply text-center w-3/4 mt-4;
}




.story-user {
    @apply text-gray-700 italic mt-4 block;
}

/* book-form */
.book {
    background-image: url(../public/img/mountain.jpg);
    background-size: cover;
}

/* form */
.form {
    @apply bg-gray-200 bg-opacity-75 flex flex-wrap py-6 px-10 text-gray-700 w-full;
}

.form > input, label {
    @apply w-full;
}
/* 
form .form-label:first-of-type {
    @apply mt-6;
} */

.form-label {
    @apply opacity-100 visible text-sm px-4 text-gray-700;
    transform: translateY(-6rem);
    transition: all .2s;
}

.form-input:placeholder-shown + .form-label {
    @apply opacity-0 invisible;
}

.form-input {
    @apply bg-gray-200 mt-1 mb-4 py-4 px-4 rounded-md;
}

.form-input:focus {
    @apply bg-white outline-none;
}

.form-input:focus:invalid {
    @apply border-red-500 border-b-2 outline-none;
}

/* footer */
.footer {
    @apply flex flex-wrap bg-gray-800 text-gray-100 py-8 px-16 text-center;
}

.footer-links {
    @apply w-full flex text-sm  flex-wrap mt-4 items-center justify-center;
}

.footer-link {
    @apply flex-grow py-2 px-4 rounded-sm;
    transition: all .3s;
}

.footer-link:hover {
    @apply bg-primary text-gray-200;
}

.footer-link {
    @apply cursor-pointer;
}

.footer-copyright {}






